:root {
    --bg: #f6f6f2;
    --txt: #141414;
    --comps: #758BFD;
    --compss: #CE4760;
    --comp:#0DAB56;
    --dim: #84a98c;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color ease 0.5s, background-color ease 0.5s;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration:none;
    color: var(--txt);
}

/*Fonts*/


.inter-tight {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Phones */
/* @media screen and (orientation: portrait) {
    #loader{
        transition: height ease 2s;
    }
} */
/*
@media (min-width: 481px) and (max-width: 767px) {
    
} */


::selection {
    background: var(--comps);
}

body{
    background-color:var(--bg);
    margin:0;
    /* overflow:hidden; */
}

/* Navigation */

@media (max-width: 768px) {
    /* .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .nav-links a {
        text-align: center;
        padding: 15px;
        border-top: 1px solid #444;
    }

    .menu-icon {
        display: block;
    } */
}

.active{
    text-decoration:underline;
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    align-items: center;
    
    position:fixed;
    transition: ease 0.4s;
    border-bottom-style:solid;
    border-color:var(--txt);
    border-width:1px;
    background-color:var(--bg)
    /* background-color:var; */
}

nav a{
    padding: 0.75rem 0.75rem;
}

.hide{
    transform: translateY(-6rem);
}

.logo a{
    font-style:italic;
    margin: 0 1rem;
}

.links{
    display:flex;
    align-items: center;
}

.links a{
    margin:0 1.5rem;
    position:relative;
    /* text-decoration: underline; */
}

.links a::after{
    content:'';
    position:absolute;
    height:1px;
    left:10%;
    bottom:30%;
    width:0;
    background: var(--txt);
    transition: width ease 0.2s;
}

.links a:hover::after{
    width:80%;
}

/* Banner */

.banner{
    height:80vh;
    display:flex;
    justify-content: center;
    
    color:var(--txt)
}

.bio{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

main{
    height:250vh;
}